In [20]:
from collections import Counter
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

import pandas as pd
import os

In [21]:
data_path = "./data/"
data = pd.read_csv(os.path.join(data_path, "train.csv"))
data.head()

,name_1,name_2,is_duplicate
0,Buddha Metal Industries,Chin Tung Chemical Industries Co.,0
1,"Tianjin Kuo Cheng Rubber Industry Co., Ltd.",R.I.Intl,0
2,Dsi,"Kut Shing Chemical Trading Co., Ltd., Dongguan...",0
3,"Edwards India Pvt., Ltd.","H & V Advanced Materials(India) Pvt., Ltd.",0
4,Pam Sp A,"Shanghai Jun Yi Imp. & Exp. . Trade Co., Ltd.",0

In [22]:
# count_vec_1 = CountVectorizer()
# count_vec_1.fit(data["name_1"])
# X_train_1 = count_vec_1.transform(data["name_1"])
# X_train_1.shape

In [32]:
count_vec_all = CountVectorizer(ngram_range=(1, 3), max_df=0.9, min_df=0.1)
count_vec_all.fit(data["name_1"] + data["name_2"])

CountVectorizer(max_df=0.9, min_df=0.1, ngram_range=(1, 3))

In [33]:
X_train_one = count_vec_all.transform(data["name_1"])
X_train_one.shape

(396549, 6)

In [36]:
X_train_two = count_vec_all.transform(data["name_2"])
X_train_two.shape

(396549, 6)

In [26]:
# answer = []
# for X_train_1, X_train_2 in zip(X_train_one, X_train_two):
#     ans = cosine_similarity()

In [37]:
ans = cosine_similarity(X_train_one[:5], X_train_two[:5])
ans.shape

(5, 5)

In [41]:
print(ans[2])

[0. 0. 0. 0. 0.]

In [14]:
ans = cosine_similarity(X_train_one[-5:], X_train_two[-5:])
ans.shape

(5, 5)

In [15]:
ans

array([[0.        , 0.28867513, 0.        , 0.        , 0.        ],
       [0.3380617 , 0.25819889, 0.25819889, 0.        , 0.        ],
       [0.18898224, 0.        , 0.28867513, 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ]])

In [16]:
data.tail()

,name_1,name_2,is_duplicate
396544,Ng Fung Hong Inc.,"Dongguan Hongsu Supply Chain Management Co., Ltd.",0
396545,"Cosharbor Logistics Co., Ltd.(Lianyungang)",Eurybia Logistics Inc.,0
396546,"Gti International Pvt., Ltd.",Kurt Geiger Ltd.,0
396547,I B International,Soluciones Integrales En Media Y Baja Tension ...,0
396548,Tremco illbruck Group GmbH,VALLEY ASPHALT,0

In [17]:
mask = data.is_duplicate == 1
data[mask]

,name_1,name_2,is_duplicate
53,COLQUIMICA,"ColquÍmica - IndÚstria Nacional De Colas, S.A.",1
81,"Shanghai Michelin Warrior Tyre Co., Ltd.","Michelin Shenyang Tire Co., Ltd.",1
120,Sumitomo Industrias Pesadas Do Brasil Ltda,Sumitomo Corporation Do Brasil Sa,1
423,Korea- ERS- Korea Petroleum,Korea Petroleum Industries Company (KOSE:A004090),1
486,Pirelli Neumaticos Sa,"Pirelli Tyre Co., Ltd.",1
...,...,...,...
395659,"Bridgestone (Huizhou) Tire Co., Ltd.",Bridgestone Tire,1
396287,LAGAN BITUMEN LTD,Lagan Bitumen Limited,1
396327,JX Nippon Oil & Gas Exploration (Myanmar) Limited,JX Nippon Oil & Gas Exploration Australia Pty ...,1
396481,"Zeon Trading (Shanghai) Co., Ltd.",ZEON Corporation (TSE:4205),1
396532,"Sumitomo Rubber (Changshu) Co., Ltd.",Sumitomo Rubber Industries Usa,1

In [42]:
dupl = [53, 81, 120, 423]
ans = cosine_similarity(X_train_one[dupl], X_train_two[dupl])
ans

array([[0., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

Сразу видно что на диоганалях не стоят 1 => наше предполжение не работает