Подготовим данные:

0. сначала разделим данные на трейн и тест набор
1. удалим не латинские тексты

In [30]:
import pandas as pd
import os
from sklearn.model_selection import train_test_split

data_path = "./data/"
file = "train_all.csv"
file_train = "train.csv"
file_test = "test.csv"

df = pd.read_csv(
    os.path.join(data_path, file), 
    usecols=["name_1", "name_2", "is_duplicate"]
)
df.head()

,name_1,name_2,is_duplicate
0,Iko Industries Ltd.,"Enormous Industrial Trade Pvt., Ltd.",0
1,Apcotex Industries Ltd.,Technocraft Industries (India) Ltd.,0
2,"Rishichem Distributors Pvt., Ltd.",Dsa,0
3,Powermax Rubber Factory,Co. One,0
4,Tress A/S,Longyou Industries Park Zhejiang,0

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497819 entries, 0 to 497818
Data columns (total 3 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   name_1        497819 non-null  object
 1   name_2        497819 non-null  object
 2   is_duplicate  497819 non-null  int64
dtypes: int64(1), object(2)
memory usage: 11.4+ MB

In [32]:
df_train, df_test = train_test_split(
    df,
    stratify=df["is_duplicate"],
    test_size=0.2,
    random_state=42,    
)

In [33]:
df_train.shape, df_test.shape

((398255, 3), (99564, 3))

In [34]:
df_test.to_csv(os.path.join(data_path, "test.csv"), index=False)

In [35]:
mask1 = df_train["name_1"].str.contains('[0-9A-Za-z]+')
mask2 = df_train["name_2"].str.contains('[0-9A-Za-z]+')
df_train = df_train[mask1 & mask2]
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 396549 entries, 159975 to 338075
Data columns (total 3 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   name_1        396549 non-null  object
 1   name_2        396549 non-null  object
 2   is_duplicate  396549 non-null  int64
dtypes: int64(1), object(2)
memory usage: 12.1+ MB

In [36]:
df_train.to_csv(os.path.join(data_path, "train.csv"), index=False)